<ion-header>
    <ion-toolbar>
        <ion-card-title>{{article.title}}</ion-card-title>
      </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-img [src]="article.urlToImage"></ion-img>
      <ion-card-header>
          <p>{{article.source.name}}</p>
      </ion-card-header>
      <ion-card-content>
          <p>{{article.content}}</p>
          <hr>
          <p><a href="{{article.url}}"> Citeste tot articolul</a></p>
      </ion-card-content>
  </ion-card>
  </ion-content>
  